<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${java.io.tmpdir}/abcd-core.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="fr.jamgotchian.abcd" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <root level="TRACE">
        <appender-ref ref="FILE" />
    </root>
</configuration>
